{% extends "@includes/admin.html" %}
{% block tabletitle %}
Add product
{% endblock %}

{% block createbutton %}
<a href="/staff/rewards_manage" class="btn" data-toggle="modal"><i class="fa fa-angle-left" style="font-size:24px" ></i> <span>Back</span></a>
{% endblock %}

{% block table %}
{% from "@includes/_formHelper.html" import render_field %}
<form method="POST" action="" novalidate>
    <div class="form-group">
        {{ render_field(form.product_name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.category, class="form-control") }}
    </div>
    <div class="form-group" >
        {{ render_field(form.price, class="form-control") }}
    </div>
        <div class="form-group">
        {{ render_field(form.stock, class="form-control") }}
    </div>
    <div class="form-group">
        {{form.addon.label}}
        {{form.addon()}}
    </div>
    <input type="submit" value="Add Product" class="btn btn-primary"/>
</form>
{% endblock %}
